
    <!-- 
        idea puede ser que solo se me muestre los links de compra, reservaciones cuando el usuario este logeado
    -->
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink = "" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a routerLink = "" class="nav-link px-2 link-dark">Menu</a></li>
            <li  *ngIf="DataService.isLoggedIn()"><a routerLink = "" class="nav-link px-2 link-dark">Reservaciones</a></li>
            <li  *ngIf="DataService.isLoggedIn()"><a routerLink = "" class="nav-link px-2 link-dark">Compra</a></li>
            <li><a routerLink = "" class="nav-link px-2 link-dark">About us</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li  *ngIf="!DataService.isLoggedIn()">
                    <a routerLink = "/login"> <button type="button" class="btn btn-outline-primary me-2">Login</button></a>
                </li>
                <li *ngIf="!DataService.isLoggedIn()">
                    <a routerLink = "/register"> <button type="button" class="btn btn-primary">Sign-up</button></a>
                </li>  
                <li *ngIf="DataService.isLoggedIn()">
                  <a href="javascript:void(0);" (click)="logout()">Logout</a>
                </li>
            </ul>

            
          </div>
        </header>
      </div>


      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://img.wattpad.com/cover/100690108-352-k962070.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">ICHIRAKU</h1>
            <p class="lead">Lo mejor a un buen precio</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
          </div>
        </div>
      </div>

      
  <router-outlet></router-outlet>
  
  
<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a routerLink = "" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a routerLink = "" class="nav-link px-2 text-muted">Encuentranos</a></li>
        <li class="nav-item"><a routerLink = "" class="nav-link px-2 text-muted">Politica de servicio</a></li>
        <li class="nav-item"><a routerLink = "" class="nav-link px-2 text-muted">Libro de reclamaciones</a></li>
      </ul>
      <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
    </footer>
  </div>
  
  
