<!-- 
        idea puede ser que solo se me muestre los links de compra, reservaciones cuando el usuario este logeado
    -->
    <h1>
        <pre>
    
    
            ICHIRAKU
            <B>Lo mejor a un buen precio</B>
    
    
    
        </pre>
    </h1>
        
    <ul>
        <li>
            <a routerLink="/"> home</a>
        </li>

        <li>
            <a routerLink="">Menu</a>
        </li>
        <li *ngIf="DataService.isLoggedIn()" >
            <a routerLink="/home/compra">compra</a>
        </li>
        <li *ngIf="DataService.isLoggedIn()">
            <a routerLink="">Reservaciones</a>
        </li>
        <li>
            <a routerLink="">Encuentranos</a>
        </li>
        <li>
            <a routerLink="">Politica de servicio</a>
        </li>
        <li>
            <a routerLink="/home/reclamaciones">Libro de reclamaciones</a>
        </li>
        <li *ngIf="!DataService.isLoggedIn()">
            <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!DataService.isLoggedIn()">
            <a routerLink="/register">register</a>
        </li>

        <li *ngIf="DataService.isLoggedIn()">
            <a href="javascript:void(0);" (click)="logout()">Logout</a>
        </li>
    </ul>
        
    <router-outlet></router-outlet>
