
    <!-- idea es despues mejorarlo-->
    <h1>
      <pre>
  
  
          ICHIRAKU
          <B>Lo mejor a un buen precio</B>
  
  
  
      </pre>
  </h1>
      
  <ul>
      <li>
          <a routerLink=""> home</a>
      </li>
      <li>
          <a routerLink="">Comentarios</a>
      </li>
  
      <li>
          <a routerLink="">Menu</a>
      </li>
      <li>
          <a routerLink="">compra</a>
      </li>
      <li>
          <a routerLink="">Reservaciones</a>
      </li>
      <li>
          <a routerLink="">Encuentranos</a>
      </li>
      <li>
          <a routerLink="">Politica de servicio</a>
      </li>
      <li>
          <a routerLink="">Libro de reclamaciones</a>
      </li>
      <li>
          <a routerLink="">Login</a>
      </li>
  
  </ul>
      
  <router-outlet></router-outlet>
  
  
  