h1{
    text-align: left;
    background-image: url("https://elcomercio.pe/resizer/tOiMPZm9oqzHomVtTkKY4ICuxB8=/1200x800/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/FGOUR2B3XNCQJCRMNUH5X5WVZI.jpg");
}

img{
    width: 100px;
    height: 100px;
}

pre{
    color:black;
    
}
