
<h3>MEJORES COMENTARIOS</h3>


<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">id_user</th>
        <th scope="col">puntuacion</th>
        <th scope="col">comentario</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let data of comentarios_users">
        <th scope="row">{{data.id_comentario}}</th>
        <td>{{data.id_user}} </td>
        <td>{{data.puntuacion}}</td>
        <td>{{data.comentario}}</td>
        <td><button onclick="DeleteComentario([data.id_user, data.id_comentario])"> eliminar </button></td>
      </tr>

    </tbody>

  </table>
  
<div *ngIf="DataService.isLoggedIn()">
    <a routerLink="/comentarios_new"><button>nuevo comentario</button></a>
</div> 



