<p>comentarios works!</p>
<!--
    La idea base es usar este componente como pagina de inicio, en ella se
    mostrara los comentarios junto con lo necesario para la pagina principal
    (si puedo implementare un quick sort para implementar los comentarios mas
    valorados)


-->

<p>MEJORES COMENTARIOS</p>
<table>
    <tr>
        <th>id_user</th>
        <th>puntuacion</th>
        <th>comentario</th>
        <th>delete</th>
        <th>edit</th>
    </tr>
    <tr *ngFor = "let data of comentarios_users">
        <td>{{data.id_user}} </td>
        <td>{{data.puntuacion}}  </td>
        <td>{{data.comentario}} </td>
        <td><button> eliminar </button></td>
        <td><button> editar </button></td>
    </tr>

</table>

