<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://img.wattpad.com/cover/100690108-352-k962070.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">ICHIRAKU</h1>
      <p class="lead">Lo mejor a un buen precio</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>


<h3>MEJORES COMENTARIOS</h3>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">id_user</th>
        <th scope="col">puntuacion</th>
        <th scope="col">comentario</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let data of comentarios_users">
        <th scope="row">{{data.id_comentario}}</th>
        <td>{{data.id_user}} </td>
        <td>{{data.puntuacion}}</td>
        <td>{{data.comentario}}</td>
        <td><button onclick="DeleteComentario([data.id_user, data.id_comentario])"> eliminar </button></td>
      </tr>

    </tbody>

  </table>
  
<div *ngIf="DataService.isLoggedIn()">
    <a routerLink="/comentarios_new"><button>nuevo comentario</button></a>
</div> 



